html {
    font-size: 62.5%;
}

body {
    background: white;
    display: flex;
    font-family: sans-serif;
    color: black;
    margin: 0;
    width: 560px;
    height: 450px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    margin-top: 10px;
    margin-right: 50px;
    align-items: flex-start;
}

.styled-table-container {
    width: 100%;
    overflow-x: auto;
    max-width: 100%;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.5em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #112f45;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #112f45;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #cef;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #cef transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.button-1 {
    background-color: #464e55;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 10px;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
    background-color: #909ea6;
}

.sentiment-icon {
    width: 30px;
    height: 30px;
}

.loading-msg {
    font-size: 14px;
}

#extensionIcon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

#extensionName {
    font-size: 15px;
    color: #023047;
}

.error-text {
    color: red;
    font-weight: bold;
    font-size: 14px;
}